
.get__in__touch__img{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('img/doctor\ sit\ laptop.jpg');
    width: 100%;
    height: 40vh; 
    background-size: cover; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-position: center;
    /* filter: brightness(30%); */
}

.get__in__touch__index{
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .get__in__touch__img{
        background-attachment: scroll;
        
    }
    
}